c++/error_test.out
c++/performance_test.out
c++/random_test.out
c++/buffer_size_test.out
c++/wyhash/master.zip
c++/wyhash/wyhash-master
c++/bitstream_test.out
c++/order_minhash_equivalence_test.out
c++/order_minhash_performance_test.out
literature
.vscode
.gradle
.project
proofs
data/bernoulliRatio1_3.txt
data/bernoulliReal0_2.txt
data/boolean.txt
data/expStandard.txt
data/expZiggurat.txt
data/intPow3.txt
data/intPow8.txt
data/random_test_calculation_times.txt
data/uniformDouble.txt
data/uniformDoubleHalf.txt
data/uniformLemire11.txt
data/uniformLemire256.txt
data/uniformLemire29.txt
data/uniformLemire3.txt
data/uniformLumbroso11.txt
data/uniformLumbroso256.txt
data/uniformLumbroso29.txt
data/uniformLumbroso3.txt
data/truncatedExp0.txt
data/truncatedExp0_1.txt
data/truncatedExp0_5.txt
data/truncatedExp1.txt
data/truncatedExp2.txt
probminhash.code-workspace
latexmk.log
paper/error_table.txt
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.fdb_latexmk
paper/paper.fls
paper/paper.log
paper/paper.out
paper/bibliography.bib.bak
paper/bibliography.bib.sav
paper/paper.synctex.gz
python/__pycache__
temp